

body {
  background-color: #FFC629;
  font: 80% Arial, Helvetica, sans-serif;
}

img {
  border: 0 none;
  margin: auto;
  height: auto;
  max-width: 8rem;
  vertical-align: middle; 
}

.arrow img  {
  max-width: 100%;
}

.display-1 {
  font-size: 9rem !important;
}

.display-2 {
  font-size: 7rem !important;
}

.origin {
  height: 55%;
}

.arrow {
  height: 900px;
  background: #FFF;
  border-radius: 400px/400px;
}
