

body {
  background-color: #FFC629;
  font-family: sans-serif;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 15rem;
  vertical-align: middle;
}

.display-1 {
  font-size: 15rem !important;
}

.display-2 {
  font-size: 12rem !important;
}