

body {
  background-color: #FFC629;
  font: 80% Arial, Helvetica, sans-serif;
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 8rem;
  vertical-align: middle;
}

.display-1 {
  font-size: 9rem !important;
}

.display-2 {
  font-size: 7rem !important;
}

.passenger-flow {
  height: 100%;
}

.origin {
  height: 50%;
}

.direction {
  height: 800px;
  background: #FFF;
  border-radius: 75px/45px;
}
